{% import "macro/forms.twig" as forms %}
{% import "macro/templates.twig" as tmpl %}

<!DOCTYPE html>
<html xmlns:tuna>
    <head>
        <meta charset="utf-8" />

        <title>Панель управления</title>

        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

        <style type="text/css">
            body { padding-top: 60px; }
            a { cursor: pointer; }

            .hide { display: none !important }
            .show { display: inherit !important }

            .page { display: none; }
            .page.active { display: inherit; }
        </style>
    </head>

    <body class="j-navigation j-template-transformer container"
          data-name="body-container"
          data-template-id="global_template">

        {% include 'popup/login.twig' %}

        {% include 'navigation.twig' %}
        {% include 'body.twig' %}

        <div class="j-control-container hide">

            <select>
                <option id="option_renderer" class="t-option"></option>
            </select>

            <tuna:template id="global_template">

                {{ tmpl.spot('currentUser/email', 't-current-user-email') }}

                {{ tmpl.spot('currentUser/role', 't-current-user-role') }}

                {{ tmpl.ne  ('currentUser/role', 0, 't-admin-visible',   { 'class': 'hide' }) }}
                {{ tmpl.eq  ('currentUser/role', 2, 't-parther-hidden',   { 'class': 'hide' }) }}
                {{ tmpl.eq  ('currentUser/role', 1, 't-bakery-disabled', { 'class': 'disabled' }) }}
                {{ tmpl.eq  ('currentUser/role', 1, 't-bakery-hidden',   { 'class': 'hide' }) }}

                {{ tmpl.spot('currentUser/roleName', 't-current-user-role-name') }}

                {{ tmpl.notset('currentBakery', 't-current-bakery-exist', { 'class': 'hide' }) }}
                {{ tmpl.attr  ('currentBakery/id', 't-current-bakery-id', 'value') }}
                {{ tmpl.attr  ('currentBakery/name', 't-current-bakery-name', 'value') }}
                {{ tmpl.attr  ('currentBakery/email', 't-current-bakery-email', 'value') }}
                {{ tmpl.attr  ('currentBakery/address', 't-current-bakery-address', 'value') }}
                {{ tmpl.attr  ('currentBakery/phone', 't-current-bakery-phone', 'value') }}
                {{ tmpl.attr  ('currentBakery/deliveryPrice', 't-current-bakery-delivery-price', 'value') }}
                {{ tmpl.attr  ('currentBakery/cashExtraCharge', 't-current-bakery-cash-extra-charge', 'value') }}

                {{ tmpl.attr  ('currentBakery/contactName', 't-current-bakery-cash-contact-name', 'value') }}
                {{ tmpl.attr  ('currentBakery/contactEmail', 't-current-bakery-cash-contact-email', 'value') }}
                {{ tmpl.attr  ('currentBakery/contactPhone', 't-current-bakery-cash-contact-phone', 'value') }}

            </tuna:template>

        </div>

        <iframe id="api_frame" name="api_frame" class="hide"
                width="0" height="0"></iframe>

        <!--[if IE]>-->
            <script type="text/javascript" src="/js/json.js"></script>
        <!--<![endif]-->

        <script type="text/javascript" src="/js/sizzle.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>

        <script type="text/javascript">main(document.body);</script>
    </body>
</html>