<div class="page-header">

    <div class="row">
        <div class="span8">
            <h1>Добавление новой кондитерской</h1>
        </div>
        <div class="span4">
            <a class="j-back-link btn btn-large pull-right">Назад</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">

        <form action="/api/" method="POST" target="api_frame"
              class="j-form form-horizontal"
              data-name="add"
              data-record-type="bakery">

            <input type="hidden" name="method" value="users.addBakery" />
            <input type="hidden" name="format" value="frame-callback" />

            <div class="j-form-message alert alert-error hide"></div>

            <fieldset class="j-template-transformer"
                      data-name="cities-list"
                      data-template-id="cities_list_template">

                {{ forms.input('name', 'Имя') }}
                {{ forms.input('email', 'Email') }}
                {{ forms.input('password', 'Пароль', null, 'password') }}

                {{ forms.select('city_id', 'Город', null, null, ['t-list'],
                                '<a class="j-button" data-name="add-city">Добавить город</a>') }}

                {{ forms.input('delivery_price', 'Цена доставки') }}
                {{ forms.submit('Добавить') }}

            </fieldset>
        </form>
    </div>
</div>

<div class="j-control-container hide">
    <tuna:template id="cities_list_template">
        <tuna:list tuna:path=""
                   tuna:target="t-list"
                   tuna:item-renderer-id="option_renderer"
                   tuna:item-template-id="city_option_template"
                   tuna:key-path="id" />
    </tuna:template>

    <tuna:template id="city_option_template">
        <tuna:attr tuna:name="value"
                   tuna:path="id"
                   tuna:target="t-option" />

        <tuna:spot tuna:path="name"
                   tuna:target="t-option" />
    </tuna:template>

</div>

{% include 'popup/add-city.twig' %}
