<div class="j-navigation-page page active"
     data-name="table">

    <div class="page-header">
        <h1>Заказы</h1>
    </div>

    <div class="row">
        <div class="span12">

            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Время заказа</th>
                    <th>Время доставки</th>
                    <th>Клиент</th>
                    <th>Стоимость</th>
                    <th>Статус</th>
                    <th>Доставка</th>
                    <th>Оплата</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody class="j-template-transformer j-button-group t-orders-list"
                       data-name="orders-list"
                       data-template-id="orders_list_template"></tbody>
            </table>

        </div>
    </div>

</div>

<div id="edit_order_page"
     class="j-navigation-page j-control-container page"
     data-name="edit">

    {% include 'page/orders/edit-order.twig' %}
</div>

<div class="j-control-container hide">

    <tuna:template id="order_info_template">

        {{ tmpl.attr('id', '.t-id', 'value') }}
        {{ tmpl.attr('id', '.t-print-order', 'href', '/api/?method=orders.print&id=$$') }}

        {{ tmpl.spot('index', '.t-index') }}

        {{ tmpl.spot('cake/dimension/weight', 't-cake-weight') }}
        {{ tmpl.attr('cake/imageUrl', '.t-cake-image-url', 'src' ) }}

        {{ tmpl.notset('cake/photoUrl', '.t-cake-photo', { 'class': 'hide' }) }}
        {{ tmpl.attr  ('cake/photoUrl', '.t-cake-photo-url', 'href') }}

        {{ tmpl.spot('recipe/name', '.t-recipe-name') }}

        {{ tmpl.spot('client/name', '.t-client-name') }}
        {{ tmpl.spot('client/phone', '.t-client-phone') }}
        {{ tmpl.spot('client/email', '.t-client-email') }}

        {{ tmpl.spot('partner/url', '.t-partner-url') }}
        {{ tmpl.spot('partner/name', '.t-partner-name') }}

        {{ tmpl.spot('delivery/address', '.t-delivery-address') }}
        {{ tmpl.spot('delivery/comment', '.t-delivery-comment') }}
        {{ tmpl.spot('delivery/message', '.t-delivery-message') }}
        {{ tmpl.spot('delivery/date', '.t-delivery-date') }}

        {{ tmpl.spot('payment/totalPrice', '.t-payment-price') }}



    </tuna:template>

    <tuna:template id="order_row_template">

        {{ tmpl.attr('id', '.t-id', 'data-order-id') }}

        {{ tmpl.spot('index', '.t-index') }}
        {{ tmpl.spot('date', '.t-date') }}

        {{ tmpl.spot('statusName', '.t-status-label') }}
        {{ tmpl.spot('deliveryStatusName', '.t-delivery-status-label') }}
        {{ tmpl.spot('paymentStatusName', '.t-payment-status-label') }}

        {{ tmpl.spot('delivery/date', '.t-delivery-date') }}
        {{ tmpl.spot('client/name', '.t-client-name') }}
        {{ tmpl.spot('payment/totalPrice', '.t-payment-price') }}

        {{ tmpl.switch('status', '.t-status-label', {
            '0': { 'class': 'label-important' },
            '1': { 'class': 'label-success' },
        }) }}

        {{ tmpl.switch('deliveryStatus', '.t-delivery-status-label', {
            '0': { 'class': 'label-important' },
            '1': { 'class': 'label-info' },
            '2': { 'class': 'label-success' },
        }) }}

        {{ tmpl.switch('paymentStatus', '.t-payment-status-label', {
            '0': { 'class': 'label-important' },
            '1': { 'class': 'label-success' }
        }) }}

    </tuna:template>

    <tuna:template id="orders_list_template">
        {{ tmpl.list('/', '.t-orders-list',
                 'orders_list_item_renderer',
                 'order_row_template', 'id') }}
    </tuna:template>

    <table>
        <tbody>
        <tr id="orders_list_item_renderer">
            <td class="t-index"></td>
            <td class="t-date"></td>
            <td class="t-delivery-date"></td>
            <td class="t-client-name"></td>
            <td class="t-payment-price"></td>
            <td><span class="t-status-label label"></span></td>
            <td><span class="t-delivery-status-label label"></span></td>
            <td><span class="t-payment-status-label label"></span></td>
            <td>
                <ul class="nav nav-list">
                    <li>
                        <a class="j-navigation-link t-id"
                           data-href="edit">
                            <i class="icon-edit"></i> Редактировать
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

</div>

